.title {
    text-align: center;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin-top: 4%
}

table, th, td {
    border: 1px solid black;
}

table#objects {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

th, td {
    padding: 5px;
}

.gallery-image {
    width: 80px;
}


img {
    display: block;

    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:auto;
    
}

h2 {
	text-align: center;
}

button {
    float: right;
    font-size: 12px;
    color: white;
    background-color: crimson;
    border: none;
    margin-right: 10%;
    border-radius: 4px;
}

a{
    color: crimson;
}

.descriptionText
{
    margin-left:20%;
    margin-right: 20%;
}